<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <a href="/" class="col-md-4 mb-0 d-flex align-items-center ">
      <img class="image-footer" src="../assets/img/logo.png" alt="">
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Inicio</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">¿A donde ir?</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Festividades</a></li>
    </ul>
  </footer>