<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top ">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../assets/img/logo.png" alt="..." height="70">
      </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto menu" data-animation="center">
          <li class="nav-item"><a class="nav-link" [routerLink]="['']">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/visita']" >¿A donde ir?</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/festividades']">Festividades</a></li>
        </ul>
    </div>
    </div>
  </nav>
  